@keyframes loading {
    0% {
        top: -10px;
    }

    50% {
        top: 0px;
    }

    100% {
        top: -10px;
    }
}

.pokecard {
    border: 1px solid #ccc !important;
    transition: background 0.5s ease-out;
    margin: 0 auto;

    &:hover {
        img {
            box-shadow: 5px 5px 10px #aaa;
            border-radius: 25px;
        }
    }
}

.awaiting {
    // Hardcore rewrite bootstrap default styles
    border: 15px solid rgba(128, 128, 128, .3) !important;
    background: #ccc !important;
    color: white;

    h5 {
        color: orange;
        position: relative;
        animation: loading 1s infinite ease-in-out;
    }
}

.ready {
    background: #fff !important;
}

.badge {
    margin-right: 5px;
    position: relative;
    top: -2px;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}